body {
    margin: 0px;
    padding: 0px;
}

.boss{
    display: flex;
    justify-content: space-between;
    background-color: cornflowerblue;
}

.game-container{
    display: flex;
}

.game-text{
    margin-top: 27px;
    margin-left: 10px;
    font-size: 35px;
    font-weight: 700;
}

.game-img{
    width: 50px;
    height: 30px;
    margin-left: 150px;
    margin-top: 30px;
}

.item-list li a{
    text-decoration: none;
    color: #000000d6;
    font-size: 18px;
    font-weight: 500;
}

.item-list {
    list-style: none;
    display: flex;
    margin-right: 150px;
    padding-left: -40px;
    margin-top: 40px;
    gap: 24px;
}
.nav-img{
    background: rgba(0, 0, 0, 0.311);
    padding: 10px 0px 0px 0px;
    margin-bottom: px;
}
.nav-img .nav-img-img {
    margin-left: 15px;
    gap: 5px;
}
.nav-img img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-bottom: 7px;
    padding-right: 0px;
}
.second-nav{
    background: rgba(11, 2, 35, 0.10);
    margin-right: 20px;
    padding: 10px;
    border-radius: 8px;
}
.second-nav img{
    margin-left: 10px;
}
.nav-img li {
    display: flex;
}

/*  */

.section1 {
    margin: 60PX 150PX 130px 150px;
    display: flex;
    justify-content: space-between;
   
}

.text-head {
    font-size: 48px;
    font-weight: 800;
}

.text {
    
    font-size: 60px;
    font-weight: 800;
}

.btn1 {
    padding: 10px 20px;
    font-size: 15px;
    gap: 10px;
    border-radius: 48px;
    color: #fff;
    background-color: #FF42A5;
    border: none;
}

.btn2 {
    padding: 10px 20px;
    font-size: 15px;
    gap: 10px;
    border-radius: 48px;
    color: #fff;
    background-color: #4EC5F7;
    margin-left: 10px;
    border: none;
}

.header-img-img img{
    width: 500px;
    height: 430px;
}

/* section 3 part start---------------- */
.main-part {
    display: flex;
}

.title {

    text-align: left;
    font-size: 48px;
    font-weight: 700;
    margin-left: 150px;
    margin-top: 300px;

}

.pera {
    text-align: center;
}

/* section 2 start */

.card-title {
    text-align: center;
    font-size: 40px;
}

.card-para {
    text-align: center;
}

.hover:hover {}

.card-img {
    display: flex;
    margin: 30px 240px 30px 60px;
    padding-right: 40px;
    gap: 20px;
}

.card-img img {
    width: 270px;
    height: 317px;
}

/* section 3  */
.img-hat {
    position: relative;
}

.img-hat .img1 {
    width: 550.833px;
    height: 550px;
    margin-right: 150px;
    margin-top: 120px;
}

.img-hat .img2 {
    width: 315px;
    height: 360px;
}

/* section 4 part start---------------- */

.more-icon img {
    width: 30px;
    height: 30px;

}

.more-icon2 img {
    width: 30px;
    height: 30px;
}

.more-icon,
.more-icon2 {
    display: flex;
    justify-content: space-around;
    margin: 120px 100px 0px 100px;
}

.more-icon2 {
    margin: 0px 150px 147px 150px;
    padding-top: 50px;
}

.ratio {
    border-radius: 50px;
    border: 1px solid #FF42A5;
    display: flex;
}

.ratio img {
    padding-top: 15px;
    padding-right: 5px;
}


/* section 4 part end-------------------- */
/* footer start   ---------------------- */

footer {
    background-color: black;
    height: 100vh;
}

.first1 {
    color: #fff;
    margin: 10px 0px 10px 0px;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 50px;
}

.first1 img {
    margin-top: 24px;
    height: 20px;
    width: 40px;
}

.second1,
.fourth1 {
    color: #fff;
    margin: 40px 0px 20px 250px;
}

.second1 ul,
.fourth1 ul {
    display: flex;
    gap: 50px;
    list-style: none;
    font-size: 18px;
    font-weight: 600;
}

.third1 {
    margin-left: 430px;
}

.third1 img {
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 20px;
}

.paragraph {
    color: #fff;
    text-align: center;
    padding-top: 50px;
}

/* footer end */