body {
    margin: 0px;
    padding: 0px;
}

.header {
    background-color: aqua;
}

.nav-icon {
    display: flex;
    padding-left: 240px;
}

.box-2 {
    padding: 10px 122px 10px 10px;
    color: #3C354F;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.list-item {
    display: flex;
    justify-content: center;
}

/* banner section */

.banner-section {
    text-align: left;
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
    margin: 40px 530px 100px 240px;

}

.font-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: -100px;
}

.paragraph {
    font-size: small;
    margin-bottom: 30px;
}

.btn1 {
    padding: 10px 20px;
    border-radius: 20px;
    color: #FFF;
    border-color: #FFF;
    background-color: #FF42A5;
}

.btn2 {
    padding: 10px 20px;
    border-radius: 20px;
    color: #FFF;
    background-color: #4EC5F7;
    border-color: #fff;
}

.img-section {
    width: 450px;
}

.video-section-title {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
}

.font {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.video-section .para2{
    text-align: center;
    margin-top: -30px;
}
.main-img{
    display: flex;
    justify-content: center;
}