body {
    margin: 0px;
    padding: 0px;
}

.boss {
    background-color: aqua;
}

.navbar {
    padding: 100px 240px;
    margin-bottom: 200px;
    list-style: none;

}

.list-item li {
    list-style: none;

}

.list-item a {
    text-decoration: none;
}

.logo {
    padding: 40px 240px;
}

.outside-logo {
    padding: 4px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.outside-logo img {
    width: 20px;
    height: 20px;
    margin-bottom: -5PX;
    justify-content: center;
    padding-left: 9px;
}

/* section 3 part start---------------- */
.main-part {
    display: flex;
}

.title {

    text-align: left;
    font-size: 48px;
    font-weight: 700;
    margin-left: 150px;
    margin-top: 300px;

}

.pera {
    text-align: center;
}
/* section 2 start */

.card-title{
   text-align: center;
   font-size: 40px;
}
.card-para{
    text-align: center;
}
.card-img img{
    width: 340px;
    height: 400px;
}

/* section 3  */
.img-hat{
    position: relative;
}

.img-hat .img1 {
    width: 550.833px;
    height: 550px;
    margin-right: 150px;
    margin-top: 120px;
}

.img-hat .img2{
    width: 315px;
    height: 360px;

}
/* section 4 part start---------------- */

.more-icon img {
    width: 30px;
    height: 30px;

}

.more-icon2 img {
    width: 30px;
    height: 30px;
}

.more-icon,
.more-icon2 {
    display: flex;
    justify-content: space-around;
    margin: 120px 100px 0px 100px;
}

.more-icon2 {
    margin: 0px 150px 147px 150px;
    padding-top: 50px;
}

.ratio {
    border-radius: 50px;
    border: 1px solid #FF42A5;
    display: flex;
}

.ratio img {
    padding-top: 15px;
    padding-right: 5px;
}


/* section 4 part end-------------------- */
/* footer start   ---------------------- */

footer {
    background-color: black;
    height: 100vh;
}

.first1 {
    color: #fff;
    margin: 10px 0px 10px 0px;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 50px;
}

.first1 img {
    margin-top: 24px;
    height: 20px;
    width: 40px;
}

.second1,
.fourth1 {
    color: #fff;
    margin: 40px 0px 20px 250px;
}

.second1 ul,
.fourth1 ul {
    display: flex;
    gap: 50px;
    list-style: none;
    font-size: 18px;
    font-weight: 600;
}

.third1 {
    margin-left: 430px;
}

.third1 img {
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 20px;
    background-color: #fff;
}

.paragraph {
    color: #fff;
    text-align: center;
    padding-top: 50px;
}

/* footer end */